{% set navigation_bar = [
    (url_for('users.dashboard'), 'dashboard', 'Dashboard', 'auth'),
    (url_for('users.settings'), 'settings', 'Settings', 'auth'),
    (url_for('security.logout'), 'logout', 'Logout', 'auth'),
    ('/', 'index', 'Home', 'anon'),
    (url_for('security.login'), 'login', 'Login', 'anon'),
    (url_for('security.register'), 'register', 'Register', 'anon'),
] -%}

{% set active_page = active_page|default('home') -%}
<!doctype html>
<html>
<head>
    <title>{% block title %} Flask App Scafold {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <!-- link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]--> 
</style>
</head>
<body>
    <div class="container" cell-spacing="12">
        <div class="sidebar">
            {% include "partials/sidebar.html" %}
        </div>
        <div class="main">
            <main>
                <div class="main__inner">
                    <div class="main__heading">
                    </div>
                    {% include 'partials/flashes.html' %}
                    {% block main %} {% endblock %}
                </div>
            </main>
        </div>
        <br clear="all">
    </div>
</body>
</html>
