{% if not  current_user.is_authenticated() %}
<div class="sidebar__heading">
    <a href="/">flask application scaffold</a>
</div>
{% else %}
<div class="sidebar__gravatar">
    <img src="{{ current_user.gravatar(size="120") }}">
</div>
{% endif %}
<nav>
    <ul class="sidebar__nav">
    {% for href, id, caption, auth in navigation_bar %}
        {% if auth == 'auth' and current_user.is_authenticated() %}
            <li class="{% if id == active_page %} sidebar__nav__item-active{% endif %} sidebar__nav__item">
                <a href="{{ href|e }}">{{ caption|e }}</a>
            </li>
        {% elif auth == 'anon' and not current_user.is_authenticated() %}
            <li class="{% if id == active_page %} sidebar__nav__item-active {% endif %} sidebar__nav__item">
                <a href="{{ href|e }}">{{ caption|e }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>

<div class="sidebar__credits">
<div class="github-fork-ribbon-wrapper left-bottom">
    <div class="github-fork-ribbon">
        <a href="https://github.com/mnazim/flask-app-scaffold">Fork me on GitHub</a>
    </div>
</div>
</div>
