{% extends 'sitebase.html' %}
{% set active_page = active_page|default('profile') -%}


{% block main_heading %}{{ current_user.display_name }}{% endblock %}
{% block nav %}

<ul>
{% for href, id, caption in navigation_bar %}
  <li{% if id == active_page %} class="active"{% endif
  %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
{% endfor %}

</ul>
{% endblock %}
{% block main %}
<div class="profile">
    <div class="welcome">
        <p><em>Welcome, {{ current_user.display_name }} {{ active_page }}! This is your profile.</em> It is not visible to anyone, except you.</p>
        <p>To see how your profile looks to public, visit <strong><a href="/">public profile</a></strong></p>
    </div>
</div>

{% endblock %}
